body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  margin-left: 20px;
}

button {
  margin-top: 30px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(85, 85, 209);
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}

.success {
  background-color: green;
  color: white;
}

.failure {
  background-color: red;
  color: white;
}
